.container {
  text-align: center;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  transition: .5s background;
}

.petContainer {
  font-size: 12rem;
  line-height: 12rem;
}

.button {
  background-color: #cadefc !important;
}

.heart {
  font-size: 5rem;
  line-height: 5rem;
  position: absolute;
  opacity: 0;
}

.petSelector {
  position: absolute;
  right: 20px;
  top: 20px;
}

.cookie {
  opacity: 0;
}

.alarm:hover {
  cursor: pointer;
}

.buttonContainer {
  margin-top: 10px !important;
}

.centered {
  text-align: center !important;
}
